<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="login-container">
        <h2>Вход</h2>
        <form id="loginForm" method="post"> 
            <div class="input-container">
                <label for="username">Логин или Email</label>
                <input type="text" id="username" name="login" placeholder="Введите логин или Email"  required>
            </div>
            <div class="input-container">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" placeholder="Введите пароль" required>
            </div>
            <div class="fogot-password">
                <a href="url#"> Забыли пароль?</a>
            </div>
            <button type="submit">Войти</button>
            <p id="error-message"></p>
        </form>
    </div>
    <!-- <script src="script.js"></script> -->
</body>
</html>
