<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Услуги</title>
    <link rel="stylesheet" href="css/services.css">
</head>
<body>
    <div class="services-container">
        <h2>Наши услуги</h2>
        <div class="services-grid">
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 1">
                <h3>Ремонт принтера</h3>  <!--JSON!!!!!!!!!!!!!--> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at libero non ligula.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 2">
                <h3>Ремонт монитора</h3><!--JSON!!!!!!!!!!!!!--> 
                <p>Proin malesuada, neque vel suscipit commodo, nulla ligula ultricies nisi.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 3">
                <h3>Ремонт компьютера </h3><!--JSON!!!!!!!!!!!!!--> 
                <p>Maecenas eget vehicula augue. Vivamus a turpis quam.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 4">
                <h3>Настройка принтера</h3><!--JSON!!!!!!!!!!!!!--> 
                <p>Donec vitae sem eu nunc convallis facilisis. Integer id consectetur nisl.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 5">
                <h3>Настройка оргтехники</h3><!--JSON!!!!!!!!!!!!!--> 
                <p>Suspendisse potenti. Nullam volutpat augue at sapien tristique, at consectetur ligula cursus.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
            <div class="service-card">
                <img src="https://via.placeholder.com/300x200" alt="Service 5">
                <h3>Настройка оргтехники</h3><!--JSON!!!!!!!!!!!!!--> 
                <p>Suspendisse potenti. Nullam volutpat augue at sapien tristique, at consectetur ligula cursus.</p><!--JSON!!!!!!!!!!!!!--> 
                <button>Добавить в корзину</button>
            </div>
        </div>
    </div>
</body>
</html>
