@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#error-message {
    color: red;
    font-size: 14px;
    height: 1em;
    margin-bottom: 0;
    text-align: center;
    margin-top: 10px;
}


.reset-container {
    margin-inline: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    
    margin-bottom: 50px;
    margin-top: 140px;

    box-shadow: 17px 7px 11px 8px rgba(0, 0, 0, 0.2);
    
    h2 {
        
        font-weight: 500;
    }
}

.reset-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
    flex-direction: column;
}


label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}


.form-button {
    display: flex;

    width: 50%;
    margin-top: 20px;

    margin-inline: auto;

    justify-content: center;
    
    button {
        display: flex;

        justify-content: center;
        font-family: 'Montserrat', "Arial", sans-serif;

        width: 90%;
        padding: 10px 8px;

        border: 0;
        border-radius: 10px;

        background-color: black;
        color: white;
        
        transition: border-radius 0.4s ease,
                    width 0.4s ease;
    }

    button:hover {
        border-radius: 0px;
        width: 100%;
    }
}

input[type="password"]{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="password"]:focus{
    border-color: #007BFF;
    outline: none;
}

#password{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}

input[type="checkbox"]{
    align-self: self-start;
    text-align: center;
}

#reset-password  {
    a {
        display: flex;
        text-decoration: none;
        transition: all 0.5s ease;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        color: #333;
        font-weight: 500;
        position: relative; 
        transition: color 0.3s ease;
    }

    a::before{
        content: '←'; 
        position: relative;
        opacity: 0;
        margin-bottom: 3px;
        transform: translateX(-10px);
        transition: all 0.3s ease; 
        color: #000000;
    }
    a:hover::before {
        opacity: 1; 
        transform: translateX(0); 
    }
    a:hover{
        color:rgb(64, 12, 142);
    }
}