<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link type="image/x-icon" href="../static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/general_styles.css">
</head>
<body>
    <header>
        <nav class="navbar">        
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-arrows-angle-expand mobile-adapt-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
            </svg>

            <!-- Computer nav-bar (screen width > 700px) -->
            <div class="navbar-container">
                <div class="navbar-item"><a href="#">Главная</a></div>
                <div class="navbar-item"><a href="#">Услуги</a></div>
                <div class="navbar-item"><a href="#">Отзывы</a></div>
                <div class="navbar-item"><a href="#">Контакты</a></div>

                <div class="navbar-item"><a href="/login">Войти</a></div>

                <div class="logo"><img src="../static/img/logo_white.svg" alt="logo"></div>
            </div>

            <!-- Mobile nav-bar (screen width < 700px) -->
            <ul class="mobile-navbar-container">
                <li class="navbar-item"><a href="#">Главная</a></li>
                <li class="navbar-item"><a href="#">Услуги</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Регистрация</a></li>
                <li class="navbar-item"><a href="#">Войти</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Отзывы</a></li>
            </ul>

        </nav>
    </header>

    <main>

        <div class="company-description-card">
            <div class="company-description-grid-container">
                <img class="grid-item" src="../static/img/logo_black.svg" style="height: 100px;" alt="">

                <div class="grid-item">
                    <h1 class="company-title">AVrepair</h1>
                    <p class="company-description">Ваш надежный партнер в ремонте офисной техники!</p>
                </div>
            </div>
        </div>

        <section id="services">
            <div class="text-lines-black" style="justify-self: center;"><h1 style="font-weight: 500; padding-inline: 20px;">Популярные услуги</h1></div>
        
            <div class="services-grid">
                {% for service in services %}
                    <div style="height: 154px; width: calc((100vw - 36px * 2) / 2 - 20px);">
                        <div style="max-height: 130px;">
                            <div class="services-card">
                                <div class="image" style="background-image: url('{{ service.image }}');"></div>
                                <div>
                                    <h3>{{ service.title }}</h3>
                                    <p>{{ service.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </section>






    </main>
    
    
    <footer>

        <section id="Contacts" style="background-color: #1b1b1b;">

            <div class="footer-title" style="color: white;">
                <span style="margin-inline: 20px; margin-block: 10px; font-weight: 300;">Контактная информация</span>
            </div>

            <div class="centered-grid">
                <div class="footer-grid">
                    <div class="footer-item">
                        <h2>О компании:</h2>
                        <p><i class="bi bi-file-text"></i>&ensp;ИНН: 0000000000</p>
                        <p><i class="bi bi-justify-left"></i>&ensp;ОГРН: 0000000000000</p>
                    </div>
                    
                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Контакты:</h2>
                        <p><i class="bi bi-envelope"></i>&ensp;Email: example@gmail.com</p>
                        <p><i class="bi bi-telephone"></i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>

                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Соцсети:</h2>
                        <p><i class="icon"> </i>&ensp;Email: example@gmail.com</p>
                        <p><i class="icon"> </i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>
                </div>
            </div>

        </section>


        <div class="footer-copyright">
            <p>Copyright&ensp;2024&ensp;-&ensp;AVrepair.&ensp;All rights reserved.</p>
        </div>

    </footer>
    
    <script src="../static/js/general_scripts.js" defer></script>
</body>
</html>