<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>

    <link type="image/x-icon" href="../static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/profile.css">
    <link rel="stylesheet" href="../static/css/general_styles.css">
</head>
<body>
    <header>
        <nav class="navbar">        
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-arrows-angle-expand mobile-adapt-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
            </svg>

            <!-- Computer nav-bar (screen width > 700px) -->
            <div class="navbar-container">
                <div class="navbar-item"><a href="/">Главная</a></div>
                <div class="navbar-item"><a href="/#services">Услуги</a></div>
                <div class="navbar-item"><a href="#">Отзывы</a></div>
                <div class="navbar-item"><a href="#Contacts">Контакты</a></div>

                <div class="navbar-item"><a id="logout" href="#">Выйти</a></div>

                <div class="logo"><img src="../static/img/logo_white.svg" alt="logo"></div>
            </div>

            <!-- Mobile nav-bar (screen width < 700px) -->
            <ul class="mobile-navbar-container">
                <li class="navbar-item"><a href="#">Главная</a></li>
                <li class="navbar-item"><a href="#">Услуги</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Регистрация</a></li>
                <li class="navbar-item"><a href="#">Выйти</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Отзывы</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <div style="margin-top: 80px; margin-bottom: 50px; text-align: center;">
            <h1>Профиль</h1>
        </div>
        
        <div class="container">
            <div class="avatar-container">
                <span class="circle-image">
                    <img src="../static/img/pass.jpg"/>
                   </span>
            </div>
    
            <div class="user-info">
                <div class="card" >
                    <div class="block"><p id="username">Username:</p></div>
                    <div class="block"><p id="email">Email:</p></div>
                    <div class="block"><p>Телефон:</p></div>
                </div>
            </div>
        </div>

    </main>

    <footer>

        <section id="Contacts" style="background-color: #1b1b1b;">

            <div class="footer-title" style="color: white;">
                <span style="margin-inline: 20px; margin-block: 10px; font-weight: 300;">Контактная информация</span>
            </div>

            <div class="centered-grid">
                <div class="footer-grid">
                    <div class="footer-item">
                        <h2>О компании:</h2>
                        <p><i class="bi bi-file-text"></i>&ensp;ИНН: 0000000000</p>
                        <p><i class="bi bi-justify-left"></i>&ensp;ОГРН: 0000000000000</p>
                    </div>
                
                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Контакты:</h2>
                        <p><i class="bi bi-envelope"></i>&ensp;Email: example@gmail.com</p>
                        <p><i class="bi bi-telephone"></i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>

                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Соцсети:</h2>
                        <p><i class="icon"> </i>&ensp;Email: example@gmail.com</p>
                        <p><i class="icon"> </i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>
                </div>
            </div>

        </section>


        <div class="footer-copyright">
            <p>Copyright&ensp;2024&ensp;-&ensp;AVrepair.&ensp;All rights reserved.</p>
        </div>

    </footer>

    <script  src="../static/js/general_scripts.js" defer></script>
    <script src="../static/js/logout.js" defer></script>
    <script src="../static/js/profile_update_token.js" defer></script>
</body>
</html>