<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link type="image/x-icon" href="../static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="stylesheet" href="../static/css/general_styles.css">
</head>
<body>
    <header>
        <nav class="navbar">        
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="white" class="bi bi-arrows-angle-expand mobile-adapt-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707z"/>
            </svg>

            <!-- Computer nav-bar (screen width > 700px) -->
            <div class="navbar-container">
                <div class="navbar-item"><a href="/">Главная</a></div>
                <div class="navbar-item"><a  href="/services">Услуги</a></div>
                <div class="navbar-item unauth-navbar"><a href="/register">Регистрация</a></div>
                <div class="navbar-item unauth-navbar"><a  href="/login">Войти</a></div>
                <div class="navbar-item auth-navbar"><a  href="/profile">Корзина</a></div>
                <div class="navbar-item auth-navbar"><a  href="/profile">Профиль</a></div>
                <div class="navbar-item auth-navbar" ><a  id="logout" href="/logout">Выйти</a></div>
                <div class="logo"><img src="../static/img/logo_white.svg" alt="logo"></div>
            </div>

            <!-- Mobile nav-bar (screen width < 700px) -->
            <ul class="mobile-navbar-container">
                <li class="navbar-item"><a href="#">Главная</a></li>
                <li class="navbar-item"><a href="#">Услуги</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Регистрация</a></li>
                <li class="navbar-item"><a href="#">Войти</a></li>

                <li class="nav-divider"></li>

                <li class="navbar-item"><a href="#">Отзывы</a></li>
            </ul>

        </nav>
    </header>

    <main>
        <div class="registration-container">
            <h2>Регистрация</h2>
            <form id="registrationForm" method="post">
                <div class="input-container">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Введите вашу почту" required>
                </div>
                
                <div class="input-container">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Введите username" required>
                </div>
        
                <div class="input-container">
                    <label for="password">Пароль</label>
                    <input id="password" type="password" name="password" placeholder="Придумайте пароль" required>
                    <input id="show_password" onclick="check_password()" type="checkbox" class="password-checkbox"> Показать пароль
                </div>
        
                <div class="input-container">
                    <label for="confirm-password">Подтверждение пароля</label>
                    <input id="password_confirm" type="password" name="password" placeholder="Повторите пароль" required>
                    <input id="show_password_confirm" onclick="check_password_confirm()" type="checkbox" class="password-checkbox"> Показать пароль
                </div>
        
                <p id="error-message"></p>

                <div class="card-button">
                    <button type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </main>

    <script>
        document.getElementById("registrationForm").addEventListener("submit", async (event) => {
        event.preventDefault();

        const email = document.getElementById("email").value;
        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;
        const passwordConfirm = document.getElementById("password_confirm").value;

        const errorMessage = document.getElementById("error-message");
        errorMessage.style = "color: red; height: min-content;";
        errorMessage.textContent = "";

        try {
            const response = await fetch("/auth/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    email,
                    username,
                    password,
                    password_confirm: passwordConfirm,
                }),
            });

            if (!response.ok) {
                const errorData = await response.json();
                if (errorData.detail) {
                    const errorText = errorData.detail[0]?.message || "Ошибка регистрации";
                    errorMessage.textContent = errorText;
                } else {
                    errorMessage.textContent = "Не удалось зарегистрироваться. Проверьте данные.";
                }
            } else {
                const successData = await response.json();
                errorMessage.textContent = successData.message || "Подтвердите регистрацию по ссылке, отправленной по электронной почте"
                errorMessage.style = "height: min-content; color: green;";
                document.getElementById("registrationForm").reset();
            }
        } catch (error) {
            console.error("Ошибка:", error);
            errorMessage.textContent = "Произошла ошибка. Попробуйте позже.";
        }
    });
    </script>


    <footer>
        <section id="Contacts" style="background-color: #1b1b1b;">

            <div class="footer-title" style="color: white;">
                <span style="margin-inline: 20px; margin-block: 10px; font-weight: 300;">Контактная информация</span>
            </div>

            <div class="centered-grid">
                <div class="footer-grid">
                    <div class="footer-item">
                        <h2>О компании:</h2>
                        <p><i class="bi bi-file-text"></i>&ensp;ИНН: 0000000000</p>
                        <p><i class="bi bi-justify-left"></i>&ensp;ОГРН: 0000000000000</p>
                    </div>
                
                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Контакты:</h2>
                        <p><i class="bi bi-envelope"></i>&ensp;Email: example@gmail.com</p>
                        <p><i class="bi bi-telephone"></i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>

                    <div class="footer-vertical-divider"></div>
                    <div class="footer-horizontal-divider"></div>

                    <div class="footer-item">
                        <h2>Соцсети:</h2>
                        <p><i class="icon"> </i>&ensp;Email: example@gmail.com</p>
                        <p><i class="icon"> </i>&ensp;Телефон: +7(000)000-00-00</p>
                    </div>
                </div>
            </div>

        </section>

        <div class="footer-copyright">
            <p>Copyright&ensp;2024&ensp;-&ensp;AVrepair.&ensp;All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/js/register.js"></script>
    <script src="../static/js/general_scripts.js" defer></script>
    <script src="../static/js/isauth.js"></script>
</body>
</html>
