<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Сброс пароля</h1>
<form id="reset-password" method="POST">
    <label for="new_password">Введите новый пароль:</label>
    <input type="password" id="new_password" name="new_password" required>
    <button type="submit">Сменить пароль</button>
    <div id="error-message" style="color: red;"></div>
</form>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const token = new URLSearchParams(window.location.search).get("token");

        if (!token) {
            alert("Токен не найден. Проверьте ссылку.");
            window.location.href = "/forgot-password";
            return;
        }

        document.getElementById("reset-password").addEventListener("submit", async (event) => {
            event.preventDefault();

            const newPassword = document.getElementById("new_password").value;
            const errorMessage = document.getElementById("error-message");
            errorMessage.textContent = "";

            try {
                const response = await fetch(`/auth/reset-password?token=${token}`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        new_password: newPassword,
                    }),
                });

                if (!response.ok) {
                    const errorData = await response.json();
                    errorMessage.textContent =
                        errorData.detail || "Не удалось сменить пароль. Попробуйте снова.";
                } else {
                    const successData = await response.json();
                    alert(successData.message || "Пароль успешно сменен");
                    window.location.href = "/login";
                }
            } catch (error) {
                console.error("Ошибка:", error);
                errorMessage.textContent = "Произошла ошибка. Попробуйте позже.";
            }
        });
    });
</script>
</body>
</html>