<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="../static/img/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/reset-password.css">
    <title>Сброс пароля</title>
</head>
<body style="background-color: #f0f0f0;">
    <div class="reset-container">
        <h2>Сброс пароля</h2>
        <form id="reset-password" method="POST">
                <label for="new_password">Введите новый пароль:</label>
                <input type="password" id="password" name="new_password" required>
                <input id="show_password" onclick="check_password()" type="checkbox" class="password-checkbox">Показать пароль
            <div class="form-button">
                <button type="submit">Сменить пароль</button>
            </div>
            <div id="error-message"></div>
        </form>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const token = new URLSearchParams(window.location.search).get("token");

                if (!token) {
                    alert("Токен не найден. Проверьте ссылку.");
                    window.location.href = "/forgot-password";
                    return;
                }

            document.getElementById("reset-password").addEventListener("submit", async (event) => {
                event.preventDefault();

                const newPassword = document.getElementById("password").value;
                const errorMessage = document.getElementById("error-message");
                errorMessage.textContent = "";

                try {
                    const response = await fetch(`/auth/reset-password?token=${token}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            new_password: newPassword,
                        }),
                    });

                    if (!response.ok) {
                        const errorData = await response.json();
                        errorMessage.textContent =
                            errorData.detail || "Не удалось сменить пароль. Попробуйте снова.";
                    } else {
                        const successData = await response.json();
                        errorMessage.textContent = successData.message || "Пароль успешно сменен"
                        errorMessage.style = "height: min-content; color: green;";
                    }
                } catch (error) {
                    console.error("Ошибка:", error);
                    errorMessage.textContent = "Произошла ошибка. Попробуйте позже.";
                }
            });
        });
    </script>
    <script src="../static/js/login_send_form_and_update_tokens.js"></script>
</body>
</html>